@define-color primary #96d8ff;
@define-color primary-dark #4b6c80;
@define-color primary-darker #313244;
@define-color background rgba(21, 18, 27, 0.8);
@define-color background-darker rgba(0, 0, 0, 0.8);

/* All Modules */
* {
  font-family: "UbuntuSans Nerd Font Propo";
  /* font-family: "JetBrainsMono Nerd Font"; */
  font-weight: bold;
  font-size: 12px;
  background: rgba(21, 18, 27, 0);
}
window#waybar {
  color: @primary;
}
tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: #11111b;
}
menu menuitem:hover {
  background-color: rgba(150, 216, 255, 0.1);
  border-color: @primary;
}

/* Workspaces */
#workspaces button {
  color: @primary-dark;
}
#workspaces button.active {
    color: @primary;
}
#workspaces button.empty {
  color: #313244;
}
#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}
#workspaces button:hover {
  background: #010116;
  color: #cdd6f4;
  border-color: @primary;
  border-radius: 10px;
}

/* Bar modules */
#workspaces,
#custom-clipboard,
#menu,
#submap,
#idle_inhibitor,
#pulseaudio,
#battery,
#bluetooth,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#keyboard-state,
#clock,
#tray,
#custom-brightness,
#custom-updates,
#custom-notification,
#custom-power,
#custom-weather,
#custom-menu,
#custom-razerbattery,
#wlr-taskbar {
  background: @background;
  font-family: "Ubuntu Condensed";
  opacity: 1.0;
  padding: 0px 10px;
  margin: 0px 0px;
  margin-top: 5px;
  border: 0.5px solid @primary-dark;
  border-radius: 10px;
}

#window {
  background: @background;
  font-family: "Ubuntu Condensed";
  opacity: 0.8;
  padding: 0px 10px;
  margin: 0px 0px;
  margin-top: 5px;
  border-bottom: 0.8px solid @primary-darker;
}

/* Individual modules */
#submap {
  background-color: rgba(10, 10, 10, 0.8);
  color: rgba(152, 239, 106, 1);
}
menu {
  background-color: @background;
  border: 1px solid @primary;
  border-radius: 10px;
}
#battery {
  color: #a8ff96;
  padding-right: 15px;
}
#power-profiles-daemon.performance { 
  color: @primary; 
}
#power-profiles-daemon.balanced { 
  color: #9ca6ff; 
}
#power-profiles-daemon.power-saver { 
  color: #9a7eff; 
}
#temperature.critical {
   color: #ff5874; 
}
#clock {
  margin-right: 5px;
}
#custom-system,
#custom-settings,
#custom-exit,
#custom-appmenuicon {
  background-color: @background-darker;
  opacity: 1.0;
  padding: 5px 5px 0px 5px;
  /*margin: 0px 0px; */
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 0.8px solid @primary-darker;
  border-radius: 3px;
}
#custom-clipboard {
  padding-left: 11px;
  padding-right: 12px;
}
#custom-updates {
  padding-right: 15px;
}
#custom-notification {
  font-family: "UbuntuSans Nerd Font Propo";
  /* font-size: 16px; */
  /* padding-right: 15px; */
}
#custom-power {
  margin-left: 5px;
  padding-left: 5px;
}
#custom-razerbattery {
    padding-right: 0px;
}

/* Not Used CSS Modues, defined with other Modules above */
#tray {
/* Add unique CSS Options */
  color:  @primary-dark;
}
#workspaces {
/* Add unique CSS Options */
}
#workspaces button.focused {
/* Add unique CSS Options */
}
#custom-weather {
/* Add unique CSS Options */
}
#custom-menu {
/* Add unique CSS Options */
}
#keyboard-state {
/* Add unique CSS Options */
}
#temperature { 
/* Add unique CSS Options */
}
#power-profiles-daemon {
/* Add unique CSS Options */
}
#pulseaudio,
#pulseaudio.microphone {
/* Add unique CSS Options */
}
#custom-brightness {
/* Add unique CSS Options */
}
#network {
/* Add unique CSS Options */
}
#bluetooth {
/* Add unique CSS Options */
}
#cpu {
/* Add unique CSS Options */
}
#memory {
/* Add unique CSS Options */
}
#idle_inhibitor {
/* Add unique CSS Options */
}
