/* 
To Read v1.0 - Sage Style Sheet - 12/28/2005  
	Tested on Sage 1.3.6         
	Chris Bernardi           
	design@fishbone2.com        

www.fishbone2.com/post/to-read-sage-style-sheet/         
                            
*/

html  { margin: 0; padding: 0 }
				
body   { text-align: center; margin-right: auto; margin-left: auto; width: 700px }
a:link		    { font-family: "Zapf Chancery", "Comic Sans MS", cursive; font-style: italic; text-decoration: none }
a:visited	   { color: #30f; font-family: "Zapf Chancery", "Comic Sans MS", cursive; text-decoration: line-through; background-color: transparent }
a:hover		   { font-family: "Zapf Chancery", "Comic Sans MS", cursive; font-style: italic; text-decoration: underline }
a:active	   { color: #000; font-family: "Zapf Chancery", "Comic Sans MS", cursive; text-decoration: none; background-color: transparent }
img { text-decoration: none; text-align: center; padding: 5px; height: auto; max-width: 265px; border-style: none; outline-style: none }
p   { font-family: "Zapf Chancery", "Comic Sans MS", cursive }
pre  { color: #000; background-color: #fff; padding: 5px; max-width: 325px; overflow: scroll }
ul, ol   { list-style-type: circle }
#rss-header   { color: #333; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; line-height: 12px; background-color: #ccc; text-align: center; padding-top: 0; padding-bottom: 3px; width: 700px; float: left; border: ridge 2px }

#rss-title    { color: #333; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; text-decoration: none; background-color: transparent; text-transform: uppercase; margin-left: 20px }

#rss-link    { color: #333; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; font-style: normal; text-decoration: none; background-color: transparent }

#rss-header h1 a    { color: #333; text-decoration: none; background-color: transparent }
#rss-header h1 a:hover    { color: #333; font-style: normal; text-decoration: none }
#rss-desc   { font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; text-align: center }

#rss-desc a  { }

div.item     { background-image: url("paper.jpg"); background-attachment: scroll; text-align: left; margin-top: 10px; margin-bottom: 5px; width: 50%; float: left }

h2.item-title  { }

h2.item-title a     { color: #000; font-family: "Zapf Chancery", "Comic Sans MS", cursive; font-style: normal; text-decoration: none; background-repeat: no-repeat; background-attachment: scroll; text-align: left; display: block; margin-left: 18px; padding-left: 48px; border-style: none }
h2.item-title a:hover   { font-family: "Zapf Chancery", "Comic Sans MS", cursive; font-style: normal }
h2.item-title a:visited  { color: #000; font-family: "Zapf Chancery", "Comic Sans MS", cursive; font-style: normal; text-decoration: none; background-image: url("check.png"); background-repeat: no-repeat; background-attachment: scroll; text-align: left; display: block; margin-left: 18px; padding-left: 48px; height: 40px; border-style: none }
span.item-ordinal  { display: none }
.item-title    { width: 325px }
div.item-desc      { color: #333; line-height: 20px; margin-left: 65px; padding-right: 15px; padding-bottom: 5px }

div.item-desc img    { text-decoration: none; height: auto; max-width: 265px }
div.item-pubDate    { font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: italic; font-variant: small-caps; text-align: center; margin-top: 5px; margin-bottom: 5px }

div.item-technorati   { margin-right: 5px; float: right }
/* Inline styles should not be there, but at the very least /*
/* they must not mess with the text color */
span[style]  { }

blockquote   { font-style: italic; padding: 0 5px 5px; width: 75%; border-left: 1px dotted #999 }
