[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gp21012/Desktop/Ribbonsoft-qcad.desktop]
row=8
col=1

[/home/gp21012/Desktop/git-cola.desktop]
row=2
col=2

[/home/gp21012/Desktop/Total Commander 64 bit.desktop]
row=7
col=1

[/home/gp21012/Desktop/Edit.desktop]
row=0
col=1

[/home/gp21012/Desktop/texstudio.desktop]
row=0
col=2

[/home/gp21012/Desktop/Jupyter.desktop]
row=6
col=0

[/home/gp21012/Desktop/DB.desktop]
row=2
col=1

[/home/gp21012/Desktop/Mozilla Firefox.desktop]
row=5
col=1

[/home/gp21012/Desktop/Notepad++.desktop]
row=6
col=1

[/home/gp21012/Desktop/Azure Storage Explorer.desktop]
row=3
col=1

[/home/gp21012/Desktop/Matlab.desktop]
row=5
col=0

[/home/gp21012/Desktop/Extras.desktop]
row=7
col=0

[/home/gp21012/Desktop/Volumes.desktop]
row=4
col=2

[/home/gp21012/Desktop/RStudio+.desktop]
row=4
col=0

[/home/gp21012/Desktop/DSVM.desktop]
row=1
col=1

[/home/gp21012/Desktop/dsvm-help.desktop]
row=3
col=2

[/home/gp21012/Desktop/com.blackmagicdesign.resolve.desktop]
row=4
col=1

[/home/gp21012/Desktop/Stata.desktop]
row=5
col=2

[/home/gp21012/Desktop/Evince.desktop]
row=8
col=0

[/home/gp21012/Desktop/libreoffice-startcenter.desktop]
row=1
col=2

[15805033554349127994]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/gp21012]
row=3
col=0

