# -*- mode: shell-script;-*-

# ------------------------------------------------
export _DOT_ALIASES_0="$(date  --rfc-3339=ns)"
# ------------------------------------------------


[ -x /usr/lib/mc/mc-wrapper.sh ] && alias mc='. /usr/lib/mc/mc-wrapper.sh'
[ -x /usr/libexec/mc/mc-wrapper.sh ] && alias mc='. /usr/libexec/mc/mc-wrapper.sh'
[ -x /usr/share/mc/bin/mc-wrapper.sh ] && alias mc='. /usr/share/mc/bin/mc-wrapper.sh'


# enable color support of ls and also add handy aliases
if [ "$TERM" != "dumb" ]; then
    eval "`dircolors -b`"
    alias ls='ls --color=auto'
    alias dir='ls --color=auto --format=vertical'
    alias vdir='ls --color=auto --format=long'
fi

# some more ls aliases
alias ll='ls -lhF --group-directories-first'
alias la='ls -lhFA --group-directories-first'
alias l='ls -CF'

alias lls='ls -lArthS'
alias llt='ls -lArtht --full-time'
alias lla='ls -lArthtu --full-time'

alias lt="ls --color -lFhart"

#
alias t='tail -F'
alias sv='less -SRX --follow-name -#24 +F'
alias s='less -SRX'
which nvim >/dev/null  && alias v='nvim' || alias v='vim'
alias e='emacsclient --no-wait'
alias ec='emacsclient -c'


##
# git
#

alias gss='git status -s'
alias gstt='git status'
alias gst='git status; [ -f ./.gitmodules ] && git submodule status'


##
# sh
#


# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

#

alias p0='PS=0 exec bash'
alias p1='PS=1 exec bash'
alias p9='unset PS; exec bash'


##
# X
#


alias ssh-x='ssh -c arcfour,blowfish-cbc -XC'

alias XX='/usr/bin/Xephyr :5 -query localhost -once -fullscreen -ac -keybd "ephyr,,,xkbmodel=pc105,xkblayout=it,xkbrules=evdev,xkboption="'

##
# tmux
#

alias tsu='tmux attach || tmux'


##
# nvidia
#

# sudo nvidia-smi daemon
alias g-smi="nvidia-smi"
alias g-log="nvidia-smi -l 2 --query-gpu=utilization.gpu,utilization.memory,temperature.gpu,temperature.memory,memory.total,memory.used,memory.free  --format=csv"
alias g-mon="nvidia-smi pmon"
alias g-top="watch -n 1.0 nvidia-smi pmon -c 5"
alias g-stat="gpustat -cp -i "



##
# @see: https://stackoverflow.com/questions/12943819/how-to-prettyprint-a-json-file
#

alias jqpp="python -c 'import sys, json; print json.dumps(json.load(sys.stdin), sort_keys=True, indent=2)'"


##
# @see: https://wiki.archlinux.org/index.php/man_page
#

man() {
    env LESS_TERMCAP_mb=$'\E[01;31m' \
    LESS_TERMCAP_md=$'\E[01;38;5;74m' \
    LESS_TERMCAP_me=$'\E[0m' \
    LESS_TERMCAP_se=$'\E[0m' \
    LESS_TERMCAP_so=$'\E[38;5;246m' \
    LESS_TERMCAP_ue=$'\E[0m' \
    LESS_TERMCAP_us=$'\E[04;38;5;146m' \
    man "$@"
}

#

splog() { cd $PGDATA/pg_log && less --follow-name +F -S $(ls -rt | tail -n1); }


# arch

alias pkg-dist-upgrade='sudo etckeeper pre-install && yaourt -Syua && sudo etckeeper post-install'
alias pkg-upgrade='sudo etckeeper pre-install && sudo pacman -Syu && sudo etckeeper post-install'

pkg-grep() { pacman -Ss "$1" | paste - - | grep --color=always -e "${2:-$1}" | less -R ; }
pkg-search() { pacman --color=always -Ss "python" | paste - - | less -R; }

# ------------------------------------------------
export _DOT_ALIASES_0="$(date  --rfc-3339=ns)"
# ------------------------------------------------

