##
# npm config
#
# @see: https://claude.ai/share/900ddb89-5ca9-4691-af09-a6bd77ad31fa
# @see: https://docs.npmjs.com/cli/v9/configuring-npm/npmrc
# @see: https://docs.npmjs.com/cli/v9/using-npm/config

; modules for global install under user home
# prefix = ${HOME}/.local

