##
# npm config
#
# @see: https://docs.npmjs.com/cli/v9/configuring-npm/npmrc
# @see: https://docs.npmjs.com/cli/v9/using-npm/config

; modules for global install under user home
prefix = ${HOME}/.local

